---
import LocalScripts from './LocalScripts.astro';
import '../lib/tabulator/css/tabulator.css';
---
<LocalScripts>
</LocalScripts>

<div class="content">
    <div class="sidebar">
      <div class="filters">
        <div class="form-example">
          <form>
          <!-- <label for="drop-zone">Bookmark Drop Zone &rightarrow;</label> -->
          <label for="dz-hyperlink">Bookmark Drop Zone &rightarrow;</label>
          <input type="text" name="drop-zone" id="dz-hyperlink" required />
          </form>
      </div>
      <div class="bkmks"></div>
      <ul id="primary-bkmk-ul" class="primary-bkmks">
      </ul>
    </div>
</div>
<div id="example-table"></div>
<footer>
</footer>
