---
// import LocalScripts from '../components/LocalScripts.astro';
// import '../lib/tabulator/css/tabulator.css';
import MainLayout from "../layouts/MainLayout.astro";
import Clipboard from "../components/Clipboard.astro";
---

	<MainLayout>
		<Clipboard/>
	</MainLayout>

		<!-- <div class="content">
			<div class="sidebar">
			  <div class="filters">
				<div class="form-example">
				  <form>
				  <label for="drop-zone">Bookmark Drop Zone &rightarrow;</label>
				  <label for="dz-hyperlink">Bookmark Drop Zone &rightarrow;</label>
				  <input type="text" name="drop-zone" id="dz-hyperlink" required />
				  </form>			  </div>
			  <div class="bkmks"></div>
			  <ul id="primary-bkmk-ul" class="primary-bkmks">
			  </ul>
			</div>
		</div>cd
		<div id="example-table"></div>
  
	</body>
	<footer>
		<!-- <LocalScripts/> -->
		<!-- <script src="../lib/script.js" type="module" crossorigin="anonymous"></script> -->
	<!-- </footer> -->
</html>
