---
import NavBar from "../components/NavBar.astro";
import Clipboard from "../components/Clipboard.astro";

---
<!doctype html>
<html
	lang="en"
	class="astro-gray-700 overflow-x-hidden break-words bg-black text-astro-gray-100 [color-scheme:dark] [word-break:break-word]"
>
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
</head>
<body>
    <header>
        <NavBar/>
    </header>
    <h3>Drag-n-Drop Clipboard</h3>
    <Clipboard/>
</body>
</html>